@use 'a2_variables' as *
@use 'a3_utilities' as *

.main
    display: flex
    flex-direction: column

    background-color:  $color-white

    margin-block-start: 8vh
    padding-block-start: map-get($size, small, 900)
    padding-block-end: map-get($size, large, 700)
    padding-inline: map-get($size, medium, 500)

    height: 95vh
    
    justify-content: space-between

    @media (min-width: $breakpoint-mobile)

    padding-inline: map-get($size, small, 700)
    
    &__heading

        font-size: map-get($font-size, small, 800)
        font-weight: map-get($font-weight, 900 )

        max-width: 14ch

        padding-block-end: 10px

        @media (min-width: $breakpoint-mobile)

            font-size: map-get($font-size, medium, 400)


    &__text
        @include subtitle

        font-size: map-get($font-size, small, 400)

        text-transform: capitalize

        max-width: 20ch

    &__img
        display: none

        width: 20rem
        aspect-ratio: 1/1

        margin-inline-start: auto

        @media (min-width: $breakpoint-mobile)
            display: block

    &__div--lower

        display: flex

        justify-content: center

    &__div--input

        display: flex
        flex-direction: column

        justify-content: flex-end


    &__input

        border: $border-width $border-style  $color-primary
        border-radius: $border-radius

        font-size: map-get($font-size, small, 500)

        margin-block-end: map-get($size, small, 400 )

        &::placeholder
            text-align: center

        @media (min-width: $breakpoint-mobile)
            max-width: 40vw
    
    &__button
        font-size: map-get($font-size, small, 600)

        @media (min-width: $breakpoint-mobile)

            width: 21vw

            margin-inline: 5vw

    &--arrow
        position: absolute
        bottom: 10vh
        
        display: inline-block
        
        border: solid  $color-primary
        border-width: 0 4px 4px 0
        border-radius: 3px
        
        padding: 6px

        align-self: center

        transform: rotate(45deg)

        @media (min-width: $breakpoint-mobile)
            display: none