@use 'a2_variables' as *

.main
    display: flex
    flex-direction: column

    background-color: rgba(#fff52e, 1)

    padding-block-start: 2rem
    padding-inline: 3rem

    &__header
        color: rgba(#ef495a, 1 )

        font-size: map-get($font-size, big, 500)
        font-weight: 800

        max-width: 13ch


    &__img
        width: 30rem
        aspect-ration: 1/1