@use 'a2_variables' as *
@use 'a5_utilities' as *

.skip-nav
    position: absolute
    top: 0
    left: 0
    z-index: 100

    display: flex

    color: $color-primary
    background-color: $color-white

    font-size: map-get($font-size, small, 300 )
    font-weight: map-get($font-weight, 600)
    letter-spacing: 1.5px

    border-bottom: $border-width $border-style $color-primary
    border-right: $border-width $border-style $color-primary
    border-radius: 0 0 15px 0

    padding-block-start: 1rem

    width: 10rem
    height: 3rem

    justify-content: center
    align-items: center
    
    transform: translateY(-4rem)
    transition: transform 230ms cubic-bezier(0.57, 0.06, 1, 0.37)

    &:hover,
    &:focus
        transform: translateY(4rem)
        transition: transform 230ms cubic-bezier(0.51, 0.6, 0.37, 0.82)
        outline: none

.nav

    margin-inline: auto

    align-items: center

    &__switch
        position: absolute
        top: 32.5px
        right: 50%
        left: 50%

        background-color: white

        width: 2rem
        height: 2px

        transform: translateX(0%)
        transition: transform 200ms linear, background-color 200ms linear

        &--background
            position: absolute
            inset: -15px -1px
            z-index: 100

            width: 35px
            height: 35px

            transform: translateX(0)

        &::before,
        &::after
            content: ''

            position: absolute

            margin-left: 10%

            background-color: white

            width: 80%
            height: 100%

            transform: translateX(0%)
            transition: transform 200ms linear
        
        &::before
            bottom: 0.5rem

        &::after
            top: 0.5rem
        
        @media ( min-width: $breakpoint-PC )
            display: none


    &__list
        margin-block-start: 4.3rem
        margin-inline-start: 2rem

        color: $color-white

        gap: map-get($size, small, 300 )

        @media ( min-width: $breakpoint-PC )
            display: flex
            flex-direction: row
            margin: 0
            gap: map-get($size, small, 500 )

    &__link

        font-size: map-get($font-size, small, 400 )
        letter-spacing: 2px

        &:hover,
        &:focus
            text-decoration: underline

