@use 'a2_variables' as *
@use 'a5_utilities' as *

.saving
    position: relative

    padding-block-start: map-get($size, large, 500 )    
    padding-inline: map-get($size, small, 700)
    
    text-align: center
    &__header
        @include title
        
        margin-inline: auto


    &__span

        color:  $color-primary

    &__text

        @include subtitle

        margin-inline: auto

    &__div
        display: flex

        margin-block-start: map-get($size, medium, 700)
        margin-inline: auto

        max-width: 45rem
        
        align-items: center

        @media (max-width: $breakpoint-mobile)

            flex-direction: column
            gap: map-get($size, small, 500 )
            margin: 0

    &__img
        width:30rem

    &__button

        font-weight: map-get($font-weight, 700)
        max-width: 12ch


        @media (min-width: $breakpoint-mobile)

            margin-inline-end: map-get($size, medium, 400)