@use 'a2_variables' as *
@use 'a5_utilities' as *

.saving
    position: relative

    margin-block-end:  map-get($size, large, 700 )
    padding-block-start: map-get($size, large, 500 )
    padding-inline: map-get($size, small, 700)
    
    text-align: center

    @include padding--PC

    @media (min-width: $breakpoint-PC)
        display: grid
        
        grid-template-columns: 70% 30%

        grid-column-gap: map-get($size, medium, 400)
        grid-row-gap: map-get($size, small, 600 )

        text-align: start
        align-items: start

    &__header
        margin-inline: auto
        
        @include title

        @media ( min-width: $breakpoint-PC )
            margin-inline: unset


    &__span

        color:  $color-primary

    &__text
        
        grid-column: 1/2
        grid-row: 2/3

        margin-inline: auto

        @media ( min-width: $breakpoint-PC )
            margin-inline: unset

        @include subtitle

    &__img

        margin-inline: auto
    
        width: 30rem
        
        align-self: center

    &__button

        margin-inline: auto

        font-weight: map-get($font-weight, 700)

        max-width: 12ch

        align-self: center