@use 'a2_variables' as *
@use 'a5_utilities' as *

.wallet
    @include dialog(250px 0 auto 0)
    
    &__close

        position: relative
        left: map-get($size, small, 800)

        border: none

        color:  $color-primary
        background-color: transparent

        font-size: map-get($font-size, small, 500)
        font-weight: map-get($font-weight, 700)

        align-self: end

    &__header

        font-size: map-get($font-size, small, 700)

        color:  $color-primary
        
        margin-block-end: map-get($size, small, 400)

    &__text

        font-size: map-get($font-size, small, 400)

        margin-block-end: map-get($size, small, 300)
        margin-block-start: 0.75rem

    &__input

        border: $border-width $border-style  $color-primary
        border-radius: $border-radius

        font-size: map-get($font-size, small, 400)
        
        &::placeholder
            text-align: center