@use 'a2_variables' as *

.button--large

    display: flex

    border: $border-width $border-style transparent
    border-radius: $border-radius
    
    
    color: map-get($color, secondary)
    background-color: map-get($color, primary)

    font-size: map-get($font-size, small,  300)
    font-weight: map-get($font-weight, 600)

    width: 100%

    justify-content: center




.button--secondary

    border: $border-width $border-style transparent
    border-radius: $border-radius
    
    color: map-get($color, secondary)
    background-color: transparent

    font-size: map-get($font-size, small, 300)
    font-weight: map-get($font-weight, 600)

    padding-block-start: 2px